<section id="about" class="section section--gray">
  <div class="container">
    <div class="section-header wow fadeIn">
      <h2>About me</h2>
      <h3 class="text-primary">Ruby on Rails / Front-end Developer, Certified ScrumMaster</h3>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3 wow fadeIn" data-wow-delay="0.5s">
        <div class="about--picture">
          <img src="./img/photo.jpg" alt="Konrad Jurkowski" class="normal">
          <img src="./img/photo2.jpg" alt="Konrad Jurkowski" class="hover">
        </div>
      </div>
      <div class="col-sm-8 col-md-9 wow fadeIn">
        <p>My name is Konrad Jurkowski and I live in Warsaw, Poland. I'm a programmer specialized mainly in web applications, but I also have some experience creating mobile applications. For a day-to-day web development I prefer using Ruby on Rails, with technology stack consisting of Sass, CoffeeScript, Slim and... of course, Ruby.</p>
        <p>As a developer, I always focus on delivering a tested and scalable product of very high standard. I use continuous integration systems and deploy the application to staging environments with production settings to test its real-life behavior.</p>
        <p>When I don't write any code, I'm probably doing some gardening, wasting time watching yet another cool and popular TV Series or playing on PS4. <span class="emoji ghost wow fadeInUp" data-wow-delay="2s">&#x1F47B;</span></p>
      </div>
    </div>
  </div>
</section>
