<section id="experience" class="section section--gray section--timeline">
  <div class="container">
    <div class="section-header wow fadeInDown">
      <h2>Experience</h2>
      <h3>For whom I have worked for and what I did there</h3>
    </div>

    <div class="timeline-container">
      <div class="timeline">

        <div class="timeline-block">
          <div class="timeline-img wow bounceIn">
            <img src="./img/experience--performance-media.png" alt="Performance Media">
          </div>
          <div class="timeline-content wow bounceIn">
            <h4>Performance Media</h4>
            <div class="timeline-date">August 2010 &#8212; October 2013</div>
            <ul class="timeline-position list-unstyled">
              <li>Front-end/Back-end Ruby on Rails Developer</li>
              <li>Android Developer</li>
              <li>Linux Server Administrator</li>
            </ul>
          </div>
        </div>

        <div class="timeline-block">
          <div class="timeline-img wow bounceIn" data-wow-delay="0.25s">
            <img src="./img/experience--cheil.png" alt="Cheil Poland">
          </div>
          <div class="timeline-content wow bounceIn" data-wow-delay="0.25s">
            <h4>Cheil Poland</h4>
            <div class="timeline-date">November 2013 &#8212; February 2014</div>
            <div class="timeline-position">Front-end/Back-end PHP Developer</div>
          </div>
        </div>

        <div class="timeline-block">
          <div class="timeline-img wow bounceIn" data-wow-delay="0.5s">
            <img src="./img/experience--elpassion.png" alt="EL Passion">
          </div>
          <div class="timeline-content wow bounceIn" data-wow-delay="0.5s">
            <h4>EL Passion</h4>
            <div class="timeline-date">March 2014 &#8212; July 2015</div>
            <div class="timeline-position">Full-Stack Ruby on Rails Developer</div>
          </div>
        </div>

        <div class="timeline-block active">
          <div class="timeline-img wow bounceIn" data-wow-delay="0.75s">
            <img src="./img/experience--cobalt.io.png" alt="Cobalt.io">
          </div>
          <div class="timeline-content wow bounceIn" data-wow-delay="0.75s">
            <h4>Cobalt.io</h4>
            <div class="timeline-date">August 2015 &#8212; Present</div>
            <div class="timeline-position">Full-Stack Ruby on Rails Developer</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
