<section id="home" class="home">
  <div class="home-box">
    <div class="intro">Hello! My name is <h2 class="name">Konrad Jurkowski</h2> and I am</div>
    <h1><span class="typer" data-primary-color="#fff" data-background-color="#000" data-typer-targets="Front-end,Web,Ruby on Rails,Full-Stack Ruby on Rails">Full-Stack Ruby on Rails</span> Developer</h1>
    <div class="intro">creating responsive and rich Web Applications</div>
  </div>

  <a href="#about">
    <div class="scroll-down">
      <i class="ion ion-ios-arrow-down"></i>
      <div class="sr-only">Scroll down</div>
    </div>
  </a>
</section>
