<section class="navbar">
  <nav class="container">
    <a class="brand-logo" href="#home">
      <img src="./img/logo--circle.png" alt="Konrad Jurkowski">
      <span class="sr-only">Konrad Jurkowski</span>
    </a>

    <button type="button" class="btn btn-default navbar-toggle">
      <i class="ion ion-navicon"></i>
      <span class="sr-only">Toggle navigation</span>
    </button>

    <ul class="nav menu-right">
      <li><a href="#about"> About me</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</section>
