<section id="services" class="section section--primary">
  <div class="container">
    <div class="section-header">
      <h2>Services</h2>
      <h3>What I can do and what I can help you with</h3>
    </div>

    <div class="row services-row">
      <div class="col-sm-6 col-md-3 wow fadeInDown">
        <div class="icon"><img src="./img/icon--freelance.png" alt="Freelance"></div>
        <h4>Freelance</h4>
        <p>Hiring freelancers helps save your money and results in flexibility and a motivated, passionate work force</p>
      </div>

      <div class="col-sm-6 col-md-3 wow fadeInDown" data-wow-delay="0.3s">
        <div class="icon"><img src="./img/icon--brainstorming.png" alt="Brainstorming"></div>
        <h4>Brainstorming</h4>
        <p>I can use my expertise and experience to help you find the most benefitial solution</p>
      </div>

      <div class="col-sm-6 col-md-3 wow fadeInDown" data-wow-delay="0.6s">
        <div class="icon"><img src="./img/icon--market-research.png" alt="Market Research"></div>
        <h4>Market Research</h4>
        <p>I can help you verify the real demand for your application and investigate competition</p>
      </div>

      <div class="col-sm-6 col-md-3 wow fadeInDown" data-wow-delay="0.9s">
        <div class="icon"><img src="./img/icon--planning.png" alt="Planning"></div>
        <h4>Planning</h4>
        <p>As a Certified ScrumMaster I can help you optimize your current Scrum process</p>
      </div>
    </div>

    <div class="row services-row">
      <div class="col-sm-6 col-md-3 wow fadeInUp">
        <div class="icon"><img src="./img/icon--web-development.png" alt="Web Development"></div>
        <h4>Web Development</h4>
        <p>Scalable and reliable product of high standard is the key to success for every business</p>
      </div>

      <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.3s">
        <div class="icon"><img src="./img/icon--app-development.png" alt="App Development"></div>
        <h4>App Development</h4>
        <p>Responsive Web Design has overtaken the pursuit for native mobile applications</p>
      </div>

      <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.6s">
        <div class="icon"><img src="./img/icon--seo.png" alt="SEO"></div>
        <h4>SEO</h4>
        <p>I have been taught the best practices of optimizing web pages to rank high in search results</p>
      </div>

      <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.9s">
        <div class="icon"><img src="./img/icon--social-engagement.png" alt="Social Engagement"></div>
        <h4>Social Engagement</h4>
        <p>I have created over 100 different Facebook applications and various integrations over the years</p>
      </div>
    </div>
  </div>
</section>
