footer
  background: $footer-bg
  color: $footer-color
  border-top: solid 1px $section-border-color
  padding: 1.5em 0

  p
    margin: 0
    font-size: $font-size-small

  .list-inline
    margin-bottom: 1.5em

  .list-inline a
    +size(35px)
    +opacity(0.6)
    display: block
    font-size: 1.5em
    line-height: 35px
    text-align: center
    color: $footer-social-color
    border: solid 1px $footer-social-border-color
    border-radius: 50%

    &:hover
      +opacity(1)
      color: $footer-social-hover-border-color
      border-color: transparent
      background: $footer-social-hover-bg
