.navbar
  +transition(box-shadow 0.4s linear)
  +medium
  background: $navbar-bg
  color: $navbar-color
  padding: 0.75em 0
  overflow: hidden
  line-height: 40px
  text-transform: uppercase
  font-size: $navbar-font-size
  position: relative
  z-index: 30

  a
    padding: 10px 0

  a.brand-logo
    float: left
    padding: 0

    img
      +size(60px)

  ul.menu-right
    list-style-type: none
    margin: 0
    padding: 0

    a
      +size(100%)
      display: block

  +phone(lte)
    ul.menu-right
      +transition(all 0.4s linear)
      display: none
      text-align: center
      margin: 0 -15px -0.75em
      padding-top: 0.75em

      &.visible
        clear: both
        height: auto
        display: block

      li
        border-top: solid 1px $section-border-color

    button
      display: block
      float: right
      font-size: 31px
      line-height: 1
      margin-top: 7px

  +tablet
    ul.menu-right
      float: right

      li
        float: left

      li + li
        margin-left: 1.5em

    button
      display: none


.is-sticky .navbar
  +box-shadow(0px 1px 1px 1px rgba($brand-primary, 0.4))
