$brand-primary: #273948
$brand-secondary: #1ab394

$font-family-base: Raleway, sans-serif
$font-size-base: 14px

$text-color: #666
$link-color: $brand-primary
$link-hover-color: $brand-secondary


$home-bg: $brand-primary
$home-color: #fff
$home-font-size: 20px


$navbar-bg: #fff
$navbar-color: $brand-primary
$navbar-font-size: 15px
